extends layout

block content   
    section.container
    form(method="POST")
    .form-group
        input(name="t_text",placeholder="문장",value=todoVO.t_text).form-control
    .form-group
        input(name="t_date",placeholder="날짜",value=todoVO.t_date).form-control        
    .form-group
        input(name="t_time",placeholder="시간",value=todoVO.t_time).form-control        

    .form-group
        button.btn.btn-primary 전송